body {
   
    width: 650px;
    font-family: sans-serif;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.serie {
    display: flex;
    justify-content: space-around;

}

.red {
    display: flex;
    color: brown;
    font-family: sans-serif;
    font-weight: bold;
}

.bar {
    margin-top: 6px;
    width: 150px;
    height: 0.2rem;
    background-color: brown;
}

.date {
    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 42, 151);
    color: white;
}

.red2 {
    color: white;
    background-color: brown;
    font-family: sans-serif;
    font-style: italic;
    width: 180px;
    font-size: 10px;
    padding: 5px;
}

.cover {
    display: flex;
    justify-content: space-between;

}

.leftpart {
    width: 180px;
}

footer {
    display: flex;
    padding-top: 10px;
}

.rebrique {
    display: flex;
    color: rgb(42, 42, 151);
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;

}

.bar2 {
    margin-top: 3px;
    width: 33rem;
    height: 0.2rem;
    background-color: rgb(42, 42, 151);

}

.bar3 {
    margin-top: 3px;
    width: 33rem;
    height: 0.2rem;
    background-color: brown;

}

.rebrique2 {
    display: flex;
    color: brown;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.bar4 {
    
    margin-top: 3px;
    height: 0.2rem;
    width: 5rem;
    background-color: rgb(42, 42, 151);
    display: flex;
    justify-content: space-between;
}
.titre2{
    font-size: 18px;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: space-around;   
font-family: 'Times New Roman', Times, serif;
}

.barJ{
    width: 6rem;
    height: 0.1rem;
    background-color: white;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 1, 116);
    color: white;
}
@media only screen and (max-width: 600px) {
   body{
    width: 3OOpx;
    font-size: 35px;
   }
    header {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .serie{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .titre2{
        font-size: 35px;
    }
    .leftpart{
        font-size: 35px;
        width: 550px;
    }
 .rebrique , .rebrique2{
    font-size: 35px;
    margin-top: 20px;
 }
 .bar , .bar2 , .bar3 , .bar4{
    margin-top: 20px;
 }
 .red2{
    font-size: 18px;
 }
}